.container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.syll {
    font-weight: bold;
    font-size: 200%;
    border: thin solid gray;
    color: midnightblue;
    background-color: linen;
}

h1 {
    color: deeppink; 
}

html {
    background-color: mistyrose;
}

#anagram {
    width: 100%
    text-align: center;
    table-layout: fixed;
    vertical-align: middle;
    height: 50px;
}

#formtable {
    vertical-align: middle;
}
