{% extends "base.html" %}

{% block title %}
form
{% endblock %}

{% block content %}
<form action = "http://localhost:5000/anagram" method = "post">
        <table id='formtable'>
            <tr>
                <td>Please enter a word!</td>
                <td>
                    <input type = "text"
                            name = "word"
                            maxlength = 20
                            pattern = "[a-zA-ZäÄöÖüÜ]{1,20}"
                            required >
                    </input>
            </tr>
            <tr>
                <td>Please choose a language!</td>
                <td>
                    <input type = "text"
                            name = "language"
                            list = "languages"
                            required ></p>

                        <datalist id = "languages">
                            <select>
                                <option value = "german">german</option>
                            </select>
                        </datalist>
                    </input>
                </td>
            </tr>
        </table>

        <p><input type = "submit" value = "submit" /></p>
	</form>
{% endblock %}
