<!DOCTYPE html>
<html>
<head>
    <meta charset ="utf-8"></meta>
    <title>form</title>
</head>
<body>
    <h1>Anagram Generator</h1>
    {% if anagram %}
        {% set sylls = anagram.split('-') %}
        <table>
            <tr>
            {% for s in sylls %}
                <td id = 's_{{ loop.index0 }}'
                    dropzone="move"  
                    cols = "12" 
                    draggable = "true" 
                    ondragstart="drag(event)"
                    ondragover="allowDrop(event)"  
                    ondrop="drop(event)" 
                    ondragenter= "dragEnter(event)">
                    {{ s }}
                </td>
            {% endfor %}
            </tr>
        </table>
    {% endif %}
    <script type="text/javascript" src="/static/drag.js"></script>
<body>

