{% extends "base.html" %}

{% block title %}
anagram
{% endblock %}

{% block content %}
	<div class="card-body">
		<h5 class="card-title">Welcome! This is a anagram generator. Give it a word and pick a language, and it will return a list of anagrams that are pronounceable in the language you chose.</h5>
		<p class="card-text">
		
        <form action = "http://localhost:5000/" method = "post">
			<div class="form-group" >
				<label for="word">
					Please enter a word!
				</label>
				<input type="text"
                       class="form-control"
                       id="word" 
                       aria-describedby="wordHelp"
                       name = "word"
                       maxlength = 20
                       pattern = "[a-zA-ZäÄöÖüÜ]{1,20}"
                       required >
				<small id="wordHelp" class="form-text text-muted">
					So far only the letters A-Z and German umlauts are supported.
				</small>
                <br>
				<label for="language">
					Please choose a language!
				</label>
				<input type="text"
                       class="form-control"
                       id="language" 
                       aria-describedby="languageHelp"
                       name = "language"
                       list = "languages"
                       required >
                        <datalist id = "languages">
                            <select>
                                <option value = "german">german</option>
                            </select>
                        </datalist>
				<small id="languageHelp" class="form-text text-muted">
					More languages will be supported soon.
				</small>
			</div>
		
			<button type="submit" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalExample">
				Submit
			</button>
    </form>
		</p>
  </div>
{% endblock %}
