{% extends "base.html" %}

{% block title %}
form
{% endblock %}

{% block content %}
    {% if anagram %}
        {% set sylls = anagram.split('-') %}
        <table id='anagram'>
            <tr>
            {% for s in sylls %}
                <td class='syll' id = 's_{{ loop.index0 }}'
                    dropzone="move"  
                    draggable = "true" 
                    ondragstart="drag(event)"
                    ondragover="allowDrop(event)"  
                    ondrop="drop(event)" 
                    ondragenter= "dragEnter(event)">
                    {{ s }}
                </td>
            {% endfor %}
            </tr>
        </table>
    {% endif %}
    <script type="text/javascript" src="/static/drag.js"></script>
{% endblock %}
